<html lang="en">
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/error.css" />
  </head>
  <body>
    <section>
      <div class="bg-img"></div>
      <div>
        <h1><%=message%></h1>
      </div>
    </section>
  </body>
</html>
