<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Index Page</title>
  </head>
  <body>
    <h1><%= message%></h1>
    <br />
    <button>
      <a href="/create-que">Create Questions</a>
    </button>
    <br />
    <br />
    <button>
      <a href="/gen-que">Generate Questions</a>
    </button>
  </body>
</html>
